Trabajamos con el archivo Reviews

1-Importamos las librerias que vamos a utilizar

In [1]:
import pandas as pd
import ast

2-Abrimos el archivo que esta en formato Json

In [2]:
# Corrige la ruta del archivo para evitar el carácter no deseado
review = 'D:/escritorio/STEAM/Json/australian_user_reviews.json'

# Se lee de cada línea del dataset
filas_review = []
with open(review) as f:
    for line in f.readlines():
        filas_review.append(ast.literal_eval(line))

# Se convierte en dataframe
df_reviews = pd.DataFrame(filas_review)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

Normalizamos el Dataframe

In [3]:
# Transforma la lista de diccionarios 'items' en un dataframe 
df_reviews = pd.json_normalize(filas_review, record_path='reviews', meta=['user_id', 'user_url'])

4-Controlamos cuantos valores nulos hay por columnas

In [4]:
# Obtener la cantidad de valores nulos por columna en df_reviews
valores_nulos_por_columna = df_reviews.isnull().sum()

# Calcular el porcentaje de valores nulos por columna en df_reviews
total_valores_por_columna = len(df_reviews)
porcentaje_valores_nulos_por_columna = (valores_nulos_por_columna / total_valores_por_columna) * 100

# Crear un DataFrame con el formato deseado
resultado_df_reviews = pd.DataFrame({
    'nombre_campo': valores_nulos_por_columna.index,
    'no_nulos_%': 100 - porcentaje_valores_nulos_por_columna,
    'nulos_%': porcentaje_valores_nulos_por_columna,
    'nulos': valores_nulos_por_columna
})

# Mostrar el resultado para df_reviews
print(resultado_df_reviews)

            nombre_campo  no_nulos_%  nulos_%  nulos
funny              funny       100.0      0.0      0
posted            posted       100.0      0.0      0
last_edited  last_edited       100.0      0.0      0
item_id          item_id       100.0      0.0      0
helpful          helpful       100.0      0.0      0
recommend      recommend       100.0      0.0      0
review            review       100.0      0.0      0
user_id          user_id       100.0      0.0      0
user_url        user_url       100.0      0.0      0

5-Controlamos si hay duplicados en la fila user_id

In [5]:
# Verificar duplicados por columna 'user_id' en df_reviews
filas_duplicadas = df_reviews[df_reviews.duplicated(subset=['user_id'], keep=False)]
# Mostrar las filas duplicadas
filas_duplicadas

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637
...,...,...,...,...,...,...,...,...,...
59300,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
59301,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244,http://steamcommunity.com/profiles/76561198312...
59302,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
59303,,Posted July 20.,,730,No ratings yet,True,:D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley
59304,,Posted July 2.,,440,No ratings yet,True,so much fun :D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley

In [6]:
# Funcion para contar cadenas vacias
def countEmpty_Strings(name):
    total = (df_reviews[name] == '').sum()
    print(f"total filas con cadenas vacias: {name} = {total}")

In [7]:
countEmpty_Strings('funny')
countEmpty_Strings('last_edited')

total filas con cadenas vacias: funny = 51154
total filas con cadenas vacias: last_edited = 53165

Se observa que la columnas Funny y las_edited contienen muchos datos vacios. Lo cual procedemos a eliminarlos

In [8]:
# Se eliminan las columnas porque tienen mucha data nula
df_reviews.drop(['funny','last_edited'],axis=1, inplace=True)

Eliminamos otras columnas que no son importantes para nuestros endpoints

In [9]:
df_reviews.drop(['helpful','user_url'],axis=1,inplace=True)

In [10]:
df_reviews.head(2)

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
1,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479

Trabajamos a la columna posted

In [11]:
# Quita la palabra 'posted' y '.' (reemplaza por espacios en blanco)
df_reviews['posted'] = df_reviews.posted.str.replace('Posted','')
df_reviews['posted'] = df_reviews.posted.str.replace('.','')

# Elimino los espacios ''
df_reviews['posted'] = df_reviews['posted'].str.strip()

# Convierto a formato fecha, errors='coerce': acepta fechas sin año
df_reviews['posted'] = pd.to_datetime(df_reviews['posted'], errors='coerce')

In [12]:
# Las fechas sin año las toma como nulas
fechas_incompletas = df_reviews['posted'].isnull().sum()
fechas_incompletas

10119

In [13]:
# Se eliminan las filas que no contienen año
df_reviews.dropna(subset=['posted'],inplace=True)
# Se crea una nueva columna con el año extraido de la columna posted
df_reviews['posted_year'] = df_reviews['posted'].dt.year

In [14]:
# Elimina la columna posted
df_reviews.drop(['posted'],axis=1,inplace=True)

#Resetea el indice de las filas
# Drop=True es para eliminar el indice anterior
df_reviews.reset_index(drop=True,inplace=True)

In [15]:
df_reviews.head(4)

,item_id,recommend,review,user_id,posted_year
0,1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2011
1,22200,True,It's unique and worth a playthrough.,76561197970982479,2011
2,43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,2011
3,251610,True,I know what you think when you see this title ...,js41637,2014

Procedemos a realizar el Analisis de sentimiento que nos piden en el proyecto

In [16]:
import nltk
nltk.download('vader_lexicon')
nltk.download('punkt')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\lautaro\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lautaro\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [17]:
# nltk.sentiment: es el analizador que da la probabilidad de que sea negativo, neutro o positivo
from nltk.sentiment import SentimentIntensityAnalyzer

0 Negativo, 1 Neutral, 2 Positivo
'compound': este es un valor entre -1 y 1 que viene a indicar de una única vez si la frase es Positiva o Negativa. Valores próximos a -1 indican que es Negativa, próximos a cero indicarían que es Neutra y próximos a 1 sería Positiva

In [18]:
# Esta funcion define el resultado del texto
def analisis(txt):
    # Creo una instancia del analizador
    sia = SentimentIntensityAnalyzer()
    resultadoSentimiento = sia.polarity_scores(txt)['compound']
    
    if resultadoSentimiento > 0.1:
        return 2 #Representa los Positivos
    elif resultadoSentimiento < -0.1:
        return 0 #Representa los Negativos
    else:
        return 1 #Representa los Neutrales

In [19]:
# Crea una nueva columna y le almacena el analisis de sentimientos
# en lambda 'x' representa cada fila de la columna review
df_reviews['sentiment_analysis'] = df_reviews['review'].apply(lambda x: analisis(x))

In [20]:
df_reviews = df_reviews[['posted_year','user_id','item_id','recommend', 'review', 'sentiment_analysis']]

In [21]:
df_reviews.sample(3)

,posted_year,user_id,item_id,recommend,review,sentiment_analysis
9702,2013,gedehamsen08,4000,True,"que puedo decir? genial, no hay sentimiento ma...",0
7660,2013,auschandler,570,True,"It's DOTA, it's Valve, it's free. 'nuff said.",2
39623,2015,Cleze,270942,True,"This is a great dlc for AGF, as AGF is no long...",2

In [22]:
df_reviews['sentiment_analysis'].value_counts()

sentiment_analysis
2    31047
1    10752
0     7387
Name: count, dtype: int64

In [23]:
print(df_reviews.isna().sum())

posted_year           0
user_id               0
item_id               0
recommend             0
review                0
sentiment_analysis    0
dtype: int64

GUARDAMOS EL ARCHIVO EN FORMATO PARQUET

In [24]:
df_reviews.to_parquet('D:/escritorio/STEAM/parquet/reviews.parquet')